@charset "utf-8";
/* CSS Document */

html,
body,
div,
article,
aside,
section,
main,
nav,
footer,
header,
form,
fieldset,
legend,
pre,
code,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figcaption,
figure,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
.border-box {
	box-sizing: border-box;
}

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #eaa63b;
	text-decoration: underline;
}

a img {
	border: none 0 #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

img,
object,
video,
embed {
	max-width: 100%;
}

#maincontent {
	background-color: #f3f3f3;
	min-height: 100%;
}

#footer {
	background-color: #221e22;
	color: #aaa;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
}

#footer img {
	display: block;
	margin: 0 auto 20px;
	max-width: 48px;
	filter: brightness(0) invert(1);
}

/* ====================== Navigation ====================== */

#skip-content {
	position: absolute;
	left: -9999px;
	top: 0;
	padding: 10px;
	background-color: #e7a445;
	color: #221e22;
	font-size: 16px;
}

#skip-content:focus {
	left: 0;
}

nav {
	width: 100%;
	background-color: #221e22;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 15px;
}

nav img {
	height: 48px;
}

nav h1 {
	margin: auto;
}

nav h1 a {
	color: #fff;
	font-size: 14px;
	font-weight: 200;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-o-transition: color 0.4s;
	-ms-transition: color 0.4s;
	transition: color 0.4s;
	will-change: color;
	line-height: 48px;
	display: block;
}

#breadcrumb {
	padding: 10px 15px 16px;
	list-style: none;
	background-color: #221e22;
	font-size: 17px;
	margin: 0;
	border-top: solid 3px #ccc;
}

/* Display list items side by side */

#breadcrumb li {
	display: inline;
	color: #939393;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li + li:before {
	padding: 8px;
	color: #ccc;
	content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
	color: #eaa63b;
	text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
	color: #eaa63b;
	text-decoration: underline;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
	width: 100%;
	background-color: #31273d;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding: 20px;
}

.filter-options h2 {
	color: white;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1;
	margin: 0 20px;
}

.filter-options select {
	background-color: white;
	border: 1px solid #fff;
	font-family: Arial, sans-serif;
	font-size: 11px;
	height: 48px;
	letter-spacing: 0;
	margin: 15px;
	padding: 0 10px;
	width: 100%;
}

/* ====================== Map ====================== */

#map {
	width: 100%;
	height: 40vw;
	min-height: 200px;
	max-height: 400px;
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	background-color: #f3f3f3;
	list-style: outside none none;
	margin: 0;
	padding: 30px 15px 60px;
	text-align: center;
}

#restaurants-list li {
	width: 100%;
	margin: 15px 0;
	background-color: #fff;
	border: solid 1px #ddd;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

#restaurants-list .restaurant-img {
	background-color: #ccc;
	display: block;
	margin: 0;
	max-width: 100%;
	min-height: 248px;
	min-width: 100%;
	object-fit: cover;
}

#restaurants-list li .content {
	padding: 20px;
	flex: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

#restaurants-list li h2 {
	color: #a33100;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 1.3;
	margin: 0 0 10px;
	text-transform: uppercase;
}

#restaurants-list li:nth-child(even) h2 {
	color: #44365a;
}

#restaurants-list p {
	margin: 0;
	font-size: 11px;
}

.btn {
	background-color: #a33100;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	margin: 15px 0 0;
	padding: 13px 30px 14px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.btn:hover,
.btn:focus {
	color: #fff;
	-webkit-box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.05);
	text-decoration: underline;
}

.btn.btn-alt {
	background-color: #44365A;
}

/* ====================== Restaurant Details ====================== */

.inside #maincontent {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding: 0 15px;
}

.inside #map {
	position: relative;
}

#restaurant-name {
	color: #804200;
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 0;
	margin: 30px 0;
	text-transform: uppercase;
	line-height: 1.1;
	text-align: center;
}

#restaurant-img {
	width: 100%;
}

#restaurant-address {
	font-size: 12px;
	margin: 10px 0;
	text-align: center;
}

#restaurant-cuisine {
	background-color: #221E22;
	color: #ddd;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 10px;
	margin: 0 0 20px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
}

#restaurant-hours {
	width: 100%;
	border-collapse: collapse;
}

#restaurant-hours td,
#restaurant-hours th {
	color: #525252;
	font-size: 16px;
	padding: 10px;
	border: solid 1px #eaeaea;
}

#restaurant-hours tr:nth-child(even) td {
	background-color: #eaeaea;
}

#reviews-container h2 {
	color: #aa5a00;
	font-size: 24px;
	font-weight: 300;
	padding-bottom: 1px;
	text-align: center;
	margin-top: 20px;
}

#reviews-list {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

#reviews-list li {
	background-color: #fff;
	border: 1px solid #ddd;
	display: block;
	list-style-type: none;
	margin: 30px 0;
	padding: 47px 20px 20px;
	position: relative;
	width: 100%;
}

#reviews-list li p {
	margin: 0 0 10px;
	font-size: 15px;
}

#reviews-list .name-date-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

#reviews-list .star {
	position: absolute;
	top: -32px;
	left: calc(50% - 32px);
	height: 64px;
	width: 64px;
	font-size: 32px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	border-radius: 50%;
	border: solid 4px #221E22;
	background-color: #31273D;
	color: #EAA63B;
}

@media screen and (min-width: 550px) {
	/* ====================== Restaurant Filtering ====================== */
	.filter-options select {
		width: 50%;
	}

	#restaurants-list li {
		margin: 15px;
		width: calc(50% - 30px);
	}
}

@media screen and (min-width: 800px) {
	.btn {
		font-size: 12px;
		padding: 8px 30px 10px;
	}
	
	.filter-options {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
	}

	.filter-options select {
		width: 200px;
		height: 35px;
		margin: 10px;
	}

	#restaurants-list li {
		width: calc(33.3333% - 30px);
	}

	.inside {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		height: 100vh;
	}
	
	.inside #maincontent {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		padding-right: 0;
		min-height: calc(100% - 138px);
	}
	
	.inside #map-container,
	#restaurant-info {
		width: 50%;
	}
	
	#restaurant-info {
		padding-right: 30px;
		overflow: scroll;
	}
	
	.inside #map-container {
		position: relative;
	}
	
	.inside #map {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		max-height: none;
		min-height: auto;
	}
}

@media screen and (min-width: 1200px) {
	#restaurants-list {
		max-width: 1200px;
		margin: 0 auto;
	}
	
	.inside #maincontent {
		-webkit-justify-content: center;
		justify-content: center;
	}
	
	#restaurant-info,
	.inside #map-container {
		max-width: 600px;
	}
}